nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #87f4b3;
    color: #585147;
    /* position: fixed; */
    width: 100%; /* Makes the navbar span the full width of the screen */
    top: 0; /* Positions the navbar at the top of the screen */
  }
  
  nav h3 {
    margin-left: 25px; /* Removes default margin */
  }
  
  nav ul {
    list-style: none;
    margin: 5px;
    padding-right: 50px;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #585147;
  }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    width: 100%; /* Make the footer span the full width of the viewport */
    bottom: 0; /* Position the footer at the bottom of the viewport */
  }
  
  footer p {
    margin: 0;
  }

  
/* HOME PAGE */
.home-container {
    padding: 0 30px;
  }
  
  section h2 {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }

  .introduction-content {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
  }
  
  .introduction-image {
    width: 600px;
    margin-right: 20px;
  }
  
  .introduction-text {
    font-size: 18px;
  }
  
  .teas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .tea-item {
    width: calc(33.33% - 20px); /* Adjust as needed */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .tea-image {
    width: 100%;
    height: auto; /* Ensure image aspect ratio is maintained */
  }
  
  .tea-name {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .tea-price {
    margin-top: 5px;
    font-weight: bold;
  }

